body {
  background-color: lightblue;
}

.nav-link{
  color: white !important;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover{
  scale: 1.15;
  color: rgb(103, 191, 221) !important;
}

.active{
  color: rgb(103, 191, 221) !important;
  font-weight: bold;
}

.tachado {
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.7);
}

.botonEstado::after {
  content: url(../img/power-off-solid.svg);
}

.editar::after {
  content: url(../img/pencil-solid.svg);
}

.ver::after {
  content: url(../img/eye-solid.svg);
}

.crear{
  width: 7rem;
  height: 7rem;
  border-color: rgb(7, 7, 95);
  border-radius: 50%;
  border-width: 4px;
  position: fixed;
  bottom: 5%;
  right: 2%;
  transition: all 0.2s ease;
}

.crear:hover {
  scale: 1.1;
}

.desaparecer {
  visibility: hidden;
}

.botonEstado::after,
.editar::after,
.ver::after {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.nombreAutor{
  font-size: 2rem;
  font-weight: bold;
  color: darkcyan;
}

.asociados select{
  width: 15rem;
}

p{
  margin-top: 0;
  margin-bottom: 0;
}

.btn-page{
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: all 0.3s ease-in-out;
}

.btn-page:hover{
  scale: 1.1;
}

.contenedor-num-pag p{
  margin: 0;
}

.infoPagina{
  color: rgba(0, 0, 0, 0.65);
}
